<div class="jobs_section">
<div class="tab">
<% section["jobs"].each_with_index do |job, index| %>
<button class="tablinks <% if index==0 %>active <% end %>" onclick="openTab('<%=job["company"]%>')"><%=job["company"]%></button>
<% end %>
</div>

<% section["jobs"].each_with_index do |job, index| %>
    <% if mobile_device != "desktop" %>
    <div class="tabcontent" id="<%= job["company"] %>" style="display:block">
    <% else %>
    <div class="tabcontent" id="<%= job["company"] %>" style="display:<% if index==0 %>block"<% else %>none<% end %>">
    <% end %>
    <div class="jobheader">
    <% if job["asset"] %><img src="<%= job["asset"] %>"><% end %>
    <h2><%= job["company"] %></h2>
    <p><%= job["time"] %></p>
    </div>
    <% job["positions"].each do |pos| %>
        <div class="positions">
            <h3><%= pos["team"] %> </h3>
            <p><%= pos["title"] %></p>
            <ul class="points">
            <% pos["points"].each do |point| %>
                <li><%= point %></li>
            <% end %>
            </ul>
        </div>
    <% end %>    
    </div>
<% end %>
</div>