<div class="projects">
<% section["projects"].each do |project| %>
<div class="project-card">
<h2><%= project["title"] %></h2>
<% if project["urls"] %>
<div class="project_urls">
<% project["urls"].each do |url_info| %>
<% url_icon_class = url_info["icon"] %>
<a href="<%= url_info["link"] %>" class="link-icon"><i class="fa fa-<%=url_icon_class %>"></i></a>
<% end %>
</div>
<% end %>
<p><%= project["description"] %></p>
<ul class="project_technologies">
<% project["technologies"].each do |tech| %>
<li><%= tech %></li>
<% end %>
</ul>
</div>
<% end %>
</div>