<!DOCTYPE html>
<!-- Powered by Rails -->
<html>
  <head>
    <title>Chase Childers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" media="all" href="<%= css_url %>" data-turbolinks-track="reload" />
    <script src="<%= js_url %>" data-turbolinks-track="reload"></script>
  </head>

  <body style="margin: 0px 0px">
    <%= yield %>
  </body>
</html>
